# Exercise 1

In [6]:
import pandas as pd
import numpy as np

In [7]:
from env import host_name, user, password

Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [8]:
def get_db_url(database):
    url = f'mysql+pymysql://{user}:{password}@{host_name}/{database}'
    return url

Use your function to obtain a connection to the employees database.

In [9]:
url = get_db_url('employees')

In [10]:
# import env

In [11]:
# env.get_db_url('telco')

Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

In [12]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [13]:
#a.
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50',  f'mysql+pymysql://{user}:{password}@{host_name}/ employees')

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'pagel_2187'@'%' to database ' employees'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [14]:
#b
pd.read_sql('SELECT * FROM employee LIMIT 5 OFFSET 50', url)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.employee' doesn't exist")
[SQL: SELECT * FROM employee LIMIT 5 OFFSET 50]
(Background on this error at: https://sqlalche.me/e/14/f405)

Read the employees and titles tables into two separate DataFrames.

In [15]:
sql = '''
SELECT *
FROM employees
'''

employees = pd.read_sql(sql, url)
employees.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [16]:
type(employees)

pandas.core.frame.DataFrame

In [17]:
query = '''
SELECT *
FROM titles 
'''

titles = pd.read_sql(query, url)
titles.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

In [18]:
type(titles)

pandas.core.frame.DataFrame

How many rows and columns do you have in each DataFrame? Is that what you expected?

In [19]:
titles.shape, employees.shape

((443308, 4), (300024, 6))

Display the summary statistics for each DataFrame.

In [20]:
titles.describe(), titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

(              emp_no
 count  443308.000000
 mean   253075.034430
 std    161853.292613
 min     10001.000000
 25%     84855.750000
 50%    249847.500000
 75%    424891.250000
 max    499999.000000,
 None)

In [21]:
employees.describe(), employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

(              emp_no
 count  300024.000000
 mean   253321.763392
 std    161828.235540
 min     10001.000000
 25%     85006.750000
 50%    249987.500000
 75%    424993.250000
 max    499999.000000,
 None)


How many unique titles are in the titles DataFrame?

In [22]:
titles.title.nunique()

7

In [23]:
unique_titles = '''
select count(distinct title)
from titles
'''
titles_a = pd.read_sql(unique_titles, url)
titles_a

   count(distinct title)
0                      7

What is the oldest date in the to_date column?

In [24]:
titles.to_date.min()

datetime.date(1985, 3, 1)

In [25]:
oldest_date = '''
select min(to_date)
from titles
'''
oldest_to = pd.read_sql(oldest_date, url)
oldest_to

  min(to_date)
0   1985-03-01

What is the most recent date in the to_date column?

In [26]:
titles[titles.to_date != titles.to_date.max()].to_date.max()

datetime.date(2002, 8, 1)

In [27]:
recent_date ='''
select max(to_date)
from titles
	where to_date <= now()
'''
closest_to = pd.read_sql(recent_date,url)
closest_to

  max(to_date)
0   2002-08-01

# Exercise 2

Copy the users and roles DataFrames from the examples above.

In [28]:
# Create the users DataFrame.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [29]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter


What is the result of using a right join on the DataFrames?

In [30]:
pd.merge(roles, users, how='right', left_on='id', right_on='role_id')

   id_x    name_x  id_y name_y  role_id
0   1.0     admin     1    bob      1.0
1   2.0    author     2    joe      2.0
2   3.0  reviewer     3  sally      3.0
3   3.0  reviewer     4   adam      3.0
4   NaN       NaN     5   jane      NaN
5   NaN       NaN     6   mike      NaN

What is the result of using an outer join on the DataFrames?

In [31]:
pd.merge(users,roles, how='outer', left_on='role_id', right_on='id')

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0   1.0      admin
1   2.0    joe      2.0   2.0     author
2   3.0  sally      3.0   3.0   reviewer
3   4.0   adam      3.0   3.0   reviewer
4   5.0   jane      NaN   NaN        NaN
5   6.0   mike      NaN   NaN        NaN
6   NaN    NaN      NaN   4.0  commenter


What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [27]:
users_no_fk = users.drop('role_id', axis=1)
roles_no_fk = roles.drop('role_id', axis=1)
merged = pd.merge(users_no_fk, roles_no_fk)

KeyError: "['role_id'] not found in axis"

Load the mpg dataset from PyDataset.

In [32]:
from pydataset import data

In [33]:
mpg = data('mpg')

In [34]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

Output and read the documentation for the mpg dataset.

In [35]:
data('mpg', show_doc = True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

How many rows and columns are in the dataset?

In [36]:
mpg.shape

(234, 11)

Check out your column names and perform any cleanup you may want on them.

In [37]:
mpg = mpg.rename(columns={"cty": "city", "hwy": "highway"})
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

Display the summary statistics for the dataset.

In [38]:
mpg.describe()

            displ         year         cyl        city     highway
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

How many different manufacturers are there?

In [39]:
mpg['manufacturer'].nunique()

15

How many different models are there?

In [40]:
mpg['model'].nunique()

38

Create a column named mileage_difference like you did in the DataFrames exercises; 
this column should contain the difference between highway and city mileage for each car.

In [41]:
mpg['mileage_difference'] = (mpg.highway - mpg.city)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

Create a column named average_mileage like you did in the DataFrames exercises; 
this is the mean of the city and highway mileage.

In [42]:
mpg['average_mileage'] = (mpg.city + mpg.highway)/2
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

In [43]:
#mpg['average_mileage'] = mpg[['city', 'highway']].agg('mean', axis=1)

Create a new column on the mpg dataset named is_automatic that holds boolean values denoting 
whether the car has an automatic transmission.

In [44]:
mpg['is_automatic'] = mpg['trans'].apply(lambda x: True if "auto" in x else False)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [45]:
mpg.groupby('manufacturer')['average_mileage'].mean().sort_values(ascending=False).head(1)

manufacturer
honda    28.5
Name: average_mileage, dtype: float64

Do automatic or manual cars have better miles per gallon?

In [46]:
mpg.groupby('is_automatic').mean().average_mileage

is_automatic
False    22.227273
True     19.130573
Name: average_mileage, dtype: float64

In [47]:
mpg.groupby('trans')['average_mileage'].max().sort_values(ascending=False).head()

trans
manual(m5)    39.5
auto(l4)      35.0
auto(l5)      30.5
manual(m6)    27.5
auto(av)      27.0
Name: average_mileage, dtype: float64

# Exercise 3

Use your get_db_url function to help you explore the data from the chipotle database.

What is the total price for each order?

In [48]:
def get_db_url(database):
    url = f'mysql+pymysql://{user}:{password}@{host_name}/{database}'
    return url

In [49]:
url = get_db_url('chipotle')

In [50]:
orders = '''
SELECT *
FROM orders 
'''

orders = pd.read_sql(orders, url)
orders.head()

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98

In [51]:
orders.item_price = orders.item_price.str.replace('$','').astype(float)

/var/folders/lp/pxhhvyv90vx8hwbv8yjldhj80000gn/T/ipykernel_11740/1779120988.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  orders.item_price = orders.item_price.str.replace('$','').astype(float)

In [71]:
orders.item_price = orders.item_price.astype(str).str.replace('\$', '', regex=True).astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [52]:
orders.dtypes

id                      int64
order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [74]:
orders.groupby(['order_id']).item_price.agg('sum')

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [65]:
# Calculate the total price for each order
orders.groupby(['order_id'])[['item_price']].sum()

          item_price
order_id
1              11.56
2              16.98
3              12.67
4              21.00
5              13.70
...              ...
1830           23.00
1831           12.90
1832           13.20
1833           23.50
1834           28.75

[1834 rows x 1 columns]

In [73]:
orders.groupby('order_id')['item_price'].sum()

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

What are the most popular 3 items?

In [55]:
pop_items = orders.groupby('item_name')['quantity'].sum()
top_3_pop_items = pop_items.sort_values(ascending=False).head(3)
top_3_pop_items

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Name: quantity, dtype: int64

Which item has produced the most revenue?

In [75]:
item_quantities = orders.groupby('item_name')['item_price'].sum()
top_3_items = item_quantities.sort_values(ascending=False).head(1)
top_3_items

item_name
Chicken Bowl    7342.73
Name: item_price, dtype: float64

Join the employees and titles DataFrames together.

In [59]:
url = get_db_url('employees')

In [60]:
# Read in the employees and titles tables
employees = pd.read_sql_query("SELECT * FROM employees", url)
titles = pd.read_sql_query("SELECT * FROM titles", url)

# Merge the two tables on emp_no
emp_titl_df = pd.merge(employees, titles, on='emp_no', how='left')
emp_titl_df

,emp_no,birth_date,first_name,last_name,gender,hire_date,title,from_date,to_date
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,Senior Engineer,1986-06-26,9999-01-01
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,Staff,1996-08-03,9999-01-01
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,Senior Engineer,1995-12-03,9999-01-01
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,Engineer,1986-12-01,1995-12-01
4,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,Senior Engineer,1995-12-01,9999-01-01
...,...,...,...,...,...,...,...,...,...
443303,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,Engineer,1987-08-30,1992-08-29
443304,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,Senior Engineer,1992-08-29,9999-01-01
443305,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,Senior Staff,1998-12-27,9999-01-01
443306,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,Staff,1993-12-27,1998-12-27
443307,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,Engineer,1997-11-30,9999-01-01

For each title, find the hire date of the employee that was hired most recently with that title.

In [61]:
most_recent = emp_titl_df.groupby('title')['hire_date'].max()
most_recent

title
Assistant Engineer    1999-12-24
Engineer              2000-01-28
Manager               1992-02-05
Senior Engineer       2000-01-01
Senior Staff          2000-01-13
Staff                 2000-01-12
Technique Leader      1999-12-31
Name: hire_date, dtype: object

Write the code necessary to create a cross tabulation of the number of titles by department. 
(Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform 
 the manipulations.)

In [62]:
departments = pd.read_sql_query("SELECT * FROM departments", url)
dept_emp = pd.read_sql_query("SELECT * FROM dept_emp", url)
titles2 = pd.read_sql_query("SELECT * FROM titles", url)

# Merge the three tables on emp_no and dept_no
dept_emp_df = pd.merge(departments, dept_emp, on='dept_no')
merged_df = pd.merge(dept_emp_df, titles, on='emp_no')

# Create the cross tabulation
cross_tab = pd.crosstab(merged_df['dept_name'], merged_df['title'])
cross_tab

title,Assistant Engineer,Engineer,Manager,Senior Engineer,Senior Staff,Staff,Technique Leader
dept_name,,,,,,,
Customer Service,298,2362,4,2027,13925,16150,309
Development,7769,58135,2,49326,1247,1424,7683
Finance,0,0,2,0,12139,13929,0
Human Resources,0,0,2,0,12274,14342,0
Marketing,0,0,2,0,13940,16196,0
Production,6445,49649,4,42205,1270,1478,6557
Quality Management,1831,13852,4,11864,0,0,1795
Research,378,2986,2,2570,11637,13495,393
Sales,0,0,2,0,36191,41808,0