# Exercise 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
from env import host_name, user, password

Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [3]:
def get_db_url(database):
    url = f'mysql+pymysql://{user}:{password}@{host_name}/{database}'
    return url

Use your function to obtain a connection to the employees database.

In [4]:
url = get_db_url('employees')

In [9]:
# import env

In [10]:
# env.get_db_url('telco')

Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

In [7]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [8]:
#a.
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50',  f'mysql+pymysql://{user}:{password}@{host_name}/ employees')

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'pagel_2187'@'%' to database ' employees'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [12]:
#b
pd.read_sql('SELECT * FROM employee LIMIT 5 OFFSET 50', url)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.employee' doesn't exist")
[SQL: SELECT * FROM employee LIMIT 5 OFFSET 50]
(Background on this error at: https://sqlalche.me/e/14/f405)

Read the employees and titles tables into two separate DataFrames.

In [19]:
sql = '''
SELECT *
FROM employees
'''

employees = pd.read_sql(sql, url)
employees.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [ ]:
type(employees)

In [23]:
query = '''
SELECT *
FROM titles 
'''

titles = pd.read_sql(query, url)
titles.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

In [24]:
type(titles)

pandas.core.frame.DataFrame

How many rows and columns do you have in each DataFrame? Is that what you expected?

In [25]:
titles.shape, employees.shape

((443308, 4), (300024, 6))

Display the summary statistics for each DataFrame.

In [26]:
titles.describe(), titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

(              emp_no
 count  443308.000000
 mean   253075.034430
 std    161853.292613
 min     10001.000000
 25%     84855.750000
 50%    249847.500000
 75%    424891.250000
 max    499999.000000,
 None)

In [27]:
employees.describe(), employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

(              emp_no
 count  300024.000000
 mean   253321.763392
 std    161828.235540
 min     10001.000000
 25%     85006.750000
 50%    249987.500000
 75%    424993.250000
 max    499999.000000,
 None)


How many unique titles are in the titles DataFrame?

In [28]:
titles.title.nunique()

7

In [29]:
unique_titles = '''
select count(distinct title)
from titles
'''
titles_a = pd.read_sql(unique_titles, url)
titles_a

   count(distinct title)
0                      7

What is the oldest date in the to_date column?

In [30]:
titles.to_date.min()

datetime.date(1985, 3, 1)

In [31]:
oldest_date = '''
select min(to_date)
from titles
'''
oldest_to = pd.read_sql(oldest_date, url)
oldest_to

  min(to_date)
0   1985-03-01

What is the most recent date in the to_date column?

In [32]:
titles[titles.to_date != titles.to_date.max()].to_date.max()

datetime.date(2002, 8, 1)

In [33]:
recent_date ='''
select max(to_date)
from titles
	where to_date <= now()
'''
closest_to = pd.read_sql(recent_date,url)
closest_to

  max(to_date)
0   2002-08-01

# Exercise 2

Copy the users and roles DataFrames from the examples above.


What is the result of using a right join on the DataFrames?

What is the result of using an outer join on the DataFrames?


What happens if you drop the foreign keys from the DataFrames and try to merge them?

Load the mpg dataset from PyDataset.

Output and read the documentation for the mpg dataset.

How many rows and columns are in the dataset?

Check out your column names and perform any cleanup you may want on them.

Display the summary statistics for the dataset.

How many different manufacturers are there?

How many different models are there?

Create a column named mileage_difference like you did in the DataFrames exercises; 
this column should contain the difference between highway and city mileage for each car.

Create a column named average_mileage like you did in the DataFrames exercises; 
this is the mean of the city and highway mileage.

Create a new column on the mpg dataset named is_automatic that holds boolean values denoting 
whether the car has an automatic transmission.

Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

Do automatic or manual cars have better miles per gallon?