# Exercise 1

Copy the code from the lesson to create a dataframe full of student grades.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from pydataset import data

In [4]:
np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

In [5]:
df

       name  math  english  reading
0     Sally    62       85       80
1      Jane    88       79       67
2     Suzie    94       74       95
3     Billy    98       96       88
4       Ada    77       92       98
5      John    79       76       93
6    Thomas    82       64       81
7     Marie    93       63       90
8    Albert    92       62       87
9   Richard    69       80       94
10    Isaac    92       99       93
11     Alan    92       62       72

Create a column named passing_english that indicates whether each student has a passing grade in english.

In [6]:
df['passing_english'] = df.english > 70
df

       name  math  english  reading  passing_english
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
9   Richard    69       80       94             True
10    Isaac    92       99       93             True
11     Alan    92       62       72            False

Sort the english grades by the passing_english column. How are duplicates handled?

In [7]:
df_sort = df.sort_values(by='passing_english')
df_sort

       name  math  english  reading  passing_english
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
11     Alan    92       62       72            False
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
9   Richard    69       80       94             True
10    Isaac    92       99       93             True


Sort the english grades first by passing_english and then by student name. 
All the students that are failing english should be first, and within the students that are failing english 
they should be ordered alphabetically. The same should be true for the students passing english. 
(Hint: you can pass a list to the .sort_values method)

In [8]:
df = df.sort_values(by=['passing_english', 'name'], ascending =[True, True])
df

       name  math  english  reading  passing_english
11     Alan    92       62       72            False
8    Albert    92       62       87            False
7     Marie    93       63       90            False
6    Thomas    82       64       81            False
4       Ada    77       92       98             True
3     Billy    98       96       88             True
10    Isaac    92       99       93             True
1      Jane    88       79       67             True
5      John    79       76       93             True
9   Richard    69       80       94             True
0     Sally    62       85       80             True
2     Suzie    94       74       95             True

Sort the english grades first by passing_english, and then by the actual english grade, 
similar to how we did in the last step.

In [123]:
df.sort_values(by=['passing_english','english'], ascending = [True, False] )

       name  math  english  reading  passing_english  overall_grade
6    Thomas    82       64       81            False          75.67
7     Marie    93       63       90            False          82.00
11     Alan    92       62       72            False          75.33
8    Albert    92       62       87            False          80.33
10    Isaac    92       99       93             True          94.67
3     Billy    98       96       88             True          94.00
4       Ada    77       92       98             True          89.00
0     Sally    62       85       80             True          75.67
9   Richard    69       80       94             True          81.00
1      Jane    88       79       67             True          78.00
5      John    79       76       93             True          82.67
2     Suzie    94       74       95             True          87.67

Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

In [10]:
df['overall_grade'] = round((df.english + df.math + df.reading) / 3, 2)
df

       name  math  english  reading  passing_english  overall_grade
11     Alan    92       62       72            False          75.33
8    Albert    92       62       87            False          80.33
7     Marie    93       63       90            False          82.00
6    Thomas    82       64       81            False          75.67
4       Ada    77       92       98             True          89.00
3     Billy    98       96       88             True          94.00
10    Isaac    92       99       93             True          94.67
1      Jane    88       79       67             True          78.00
5      John    79       76       93             True          82.67
9   Richard    69       80       94             True          81.00
0     Sally    62       85       80             True          75.67
2     Suzie    94       74       95             True          87.67

# Exercise 2

Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

How many rows and columns are there?

In [124]:
data('mpg', show_doc = True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [11]:
# data('mpg', show_doc=True) # view the documentation for the dataset
mpg = data('mpg') # load the dataset and store it in a variable

In [12]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [13]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [14]:
mpg.shape

(234, 11)



What are the data types of each column?

In [15]:
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object



Summarize the dataframe with .info and .describe

In [16]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [17]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000


Rename the cty column to city.

In [18]:
mpg.rename(columns={'cty': 'city'})

,manufacturer,model,displ,year,cyl,trans,drv,city,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize


Rename the hwy column to highway.

In [125]:
mpg.rename(columns={'hwy': 'highway'}) #inplace = True would be required

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

In [28]:
mpg = mpg.rename(columns={"cty": "city", "hwy": "highway"})
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize


Do any cars have better city mileage than highway mileage?

In [37]:
(mpg['city'] > mpg['highway']).value_counts()

False    234
dtype: int64

In [38]:
#no



Create a column named mileage_difference this column should contain the difference between highway 
and city mileage for each car.

In [39]:
mpg['mileage_difference'] = (mpg.highway - mpg.city)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9



Which car (or cars) has the highest mileage difference?

In [129]:
mpg.sort_values('mileage_difference' , ascending = False).head(2)

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12,30.0
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12,35.0

In [130]:
(mpg.mileage_difference == mpg.mileage_difference.max()).value_counts()

False    232
True       2
Name: mileage_difference, dtype: int64

In [131]:
mpg[mpg.mileage_difference == mpg.mileage_difference.max()]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12,30.0
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12,35.0



Which compact class car has the lowest highway mileage? The best?

In [60]:
compact_class_mpg = mpg[mpg["class"] == "compact"]
print(compact_class_mpg.loc[compact_class_mpg["highway"].idxmin()])
print(compact_class_mpg.loc[compact_class_mpg["highway"].idxmax()])

manufacturer          volkswagen
model                      jetta
displ                        2.8
year                        1999
cyl                            6
trans                   auto(l4)
drv                            f
city                          16
highway                       23
fl                             r
class                    compact
mileage_difference             7
Name: 220, dtype: object
manufacturer          volkswagen
model                      jetta
displ                        1.9
year                        1999
cyl                            4
trans                 manual(m5)
drv                            f
city                          33
highway                       44
fl                             d
class                    compact
mileage_difference            11
Name: 213, dtype: object


Create a column named average_mileage that is the mean of the city and highway mileage.

In [61]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

In [62]:
mpg['average_mileage'] = (mpg.city + mpg.highway)/2
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5


Which dodge car has the best average mileage? The worst?

In [63]:
dodge_mpg = mpg[mpg["manufacturer"] == "dodge"]
print(dodge_mpg.loc[dodge_mpg["average_mileage"].idxmin()])
print(dodge_mpg.loc[dodge_mpg["average_mileage"].idxmax()])

manufacturer                      dodge
model                 dakota pickup 4wd
displ                               4.7
year                               2008
cyl                                   8
trans                          auto(l5)
drv                                   4
city                                  9
highway                              12
fl                                    e
class                            pickup
mileage_difference                    3
average_mileage                    10.5
Name: 55, dtype: object
manufacturer                dodge
model                 caravan 2wd
displ                         2.4
year                         1999
cyl                             4
trans                    auto(l3)
drv                             f
city                           18
highway                        24
fl                              r
class                     minivan
mileage_difference              6
average_mileage              21.0
Name: 38, dtype: object

# Exercise 3

Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

How many rows and columns are there?

In [132]:
data('Mammals', show_doc = True)

Mammals

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Garland(1983) Data on Running Speed of Mammals

### Description

Observations on the maximal running speed of mammal species and their body
mass.

### Usage

    data(Mammals)

### Format

A data frame with 107 observations on the following 4 variables.

weight

Body mass in Kg for "typical adult sizes"

speed

Maximal running speed (fastest sprint velocity on record)

hoppers

logical variable indicating animals that ambulate by hopping, e.g. kangaroos

specials

logical variable indicating special animals with "lifestyles in which speed
does not figure as an important factor": Hippopotamus, raccoon (Procyon),
badger (Meles), coati (Nasua), skunk (Mephitis), man (Homo), porcupine
(Erithizon), oppossum (didelphis), and sloth (Bradypus)

### Details

Used by Chappell (1989) and Koenker, Ng and Portnoy (1994) to illustrate the
fitting of piecewise linear curves.

### Source

Garland, T. (1983) The relation between maximal running speed and body mass in
terrestrial mammals, _J. Zoology_, 199, 1557-1570.

### References

Koenker, R., P. Ng and S. Portnoy, (1994) Quantile Smoothing Splines
_Biometrika_, 81, 673-680.

Chappell, R. (1989) Fitting Bent Lines to Data, with Applications ot
Allometry, _J. Theo. Biology_, 138, 235-256.

### See Also

`rqss`

### Examples

    data(Mammals)
    attach(Mammals)
    x <- log(weight)
    y <- log(speed)
    plot(x,y, xlab="Weight in log(Kg)", ylab="Speed in log(Km/hour)",type="n")
    points(x[hoppers],y[hoppers],pch = "h", col="red")
    points(x[specials],y[specials],pch = "s", col="blue")
    others <- (!hoppers & !specials)
    points(x[others],y[others], col="black",cex = .75)
    fit <- rqss(y ~ qss(x, lambda = 1),tau = .9)
    plot(fit)

In [64]:
mammals = data('Mammals')

In [65]:
mammals

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

What are the data types?

In [66]:
mammals.dtypes

weight      float64
speed       float64
hoppers        bool
specials       bool
dtype: object

In [133]:
mammals.shape

(107, 4)

Summarize the dataframe with .info and .describe

In [67]:
mammals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

In [69]:
mammals.describe()

            weight       speed
count   107.000000  107.000000
mean    278.688178   46.208411
std     839.608269   26.716778
min       0.016000    1.600000
25%       1.700000   22.500000
50%      34.000000   48.000000
75%     142.500000   65.000000
max    6000.000000  110.000000

What is the the weight of the fastest animal?

In [134]:
mammals[mammals.speed == mammals.speed.max()]

    weight  speed  hoppers  specials
53    55.0  110.0    False     False

In [72]:
mammals.sort_values('speed', ascending = False) #55.00

       weight  speed  hoppers  specials
53     55.000  110.0    False     False
39     37.000  105.0    False     False
35     50.000  100.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
19    300.000   90.0    False     False
34     62.000   81.0    False     False
45     20.000   81.0    False     False
25    120.000   80.0    False     False
22    170.000   80.0    False     False
20    250.000   80.0    False     False
40     35.000   80.0    False     False
43     30.000   80.0    False     False
63      6.000   72.0    False     False
18    300.000   72.0    False     False
98      4.000   72.0     True     False
97      4.400   72.0     True     False
12    900.000   70.0    False     False
57     20.000   70.0    False     False
8     260.000   70.0    False     False
6     350.000   70.0    False     False
24    130.000   70.0    False     False
5     400.000   70.0    False     False
56     25.000   67.0    False     False
30     80.000   65.0    False     False
58     16.000   65.0    False     False
51     65.000   65.0    False     False
104    50.000   65.0    False     False
28    100.000   64.0    False     False
64      5.000   64.0    False     False
100     2.000   64.0     True     False
55     40.000   64.0    False     False
96      4.600   64.0     True     False
7     300.000   64.0    False     False
26    120.000   61.0    False     False
36     50.000   60.0    False     False
11   1000.000   60.0    False     False
33     65.000   60.0    False     False
52     60.000   60.0    False     False
62      7.000   60.0    False     False
49    150.000   59.0    False     False
15    750.000   57.0    False     False
17    450.000   56.0    False     False
101     1.900   56.0     True     False
13    900.000   56.0    False     False
21    250.000   56.0    False     False
61     10.000   56.0    False     False
99      3.500   56.0     True     False
48    230.000   56.0    False     False
31     72.000   56.0    False     False
29     85.000   55.0    False     False
54     45.000   50.0    False     False
102     1.500   50.0     True     False
50    135.000   48.0    False     False
47    300.000   48.0    False     False
23    150.000   48.0    False     False
38     50.000   47.0    False     False
44     30.000   45.0    False     False
32     70.000   45.0    False     False
4    1400.000   45.0    False     False
46    400.000   40.0    False     False
37     50.000   40.0    False     False
68     70.000   40.0    False      True
103     1.500   40.0     True     False
9     250.000   40.0    False     False
69     13.000   37.0    False      True
72      0.600   36.0    False     False
1    6000.000   35.0    False     False
27    110.000   33.0    False     False
67    127.000   32.0    False     False
16    500.000   32.0    False     False
85      0.035   32.0     True     False
60     11.000   30.0    False      True
14    800.000   29.0    False     False
65      5.000   27.0    False      True
74      0.550   27.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
10   3800.000   25.0    False      True
59     12.000   24.0    False      True
82      0.056   21.0     True     False
76      0.400   20.0    False     False
73      0.600   20.0    False     False
75      0.500   18.0    False     False
81      0.100   17.0    False     False
84      0.045   16.0    False     False
71      4.000   16.0    False     False
66      3.000   16.0    False      True
79      0.220   15.0    False     False
86      0.035   14.0     True     False
92      0.016   13.0    False     False
77      0.300   13.0    False     False
106     0.024   13.0    False     False
89      0.025   11.0    False     False
83      0.050   11.0    False     False
78      0.250    9.7    False     False
88      0.030    9.1    False     False
80      0.110    9.0    False     False
91      0.018    8.9    False     False
90      0.025    8.6    False     False
105     5.000    7.4    False      True
87      0.030    6.8    False     False
93      0.100    4.0    False     False
95      0.016    3.6    False     False
70      9.000    3.2    False      True
94      0.100    2.4    False     False
107     4.000    1.6    False      True

What is the overal percentage of specials?

In [86]:
mammals.value_counts(('specials'), True) #9%

specials
False    0.906542
True     0.093458
dtype: float64

How many animals are hoppers that are above the median speed? What percentage is this?

In [114]:
mammals.speed.median()

48.0

In [117]:
mammals[mammals.hoppers > mammals.speed.median()]

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

In [120]:
m_hop = mammals[mammals.hoppers]

In [122]:
m_hop[m_hop.speed > mammals.speed.median()]

     weight  speed  hoppers  specials
96      4.6   64.0     True     False
97      4.4   72.0     True     False
98      4.0   72.0     True     False
99      3.5   56.0     True     False
100     2.0   64.0     True     False
101     1.9   56.0     True     False
102     1.5   50.0     True     False

In [136]:
(len(m_hop[m_hop.speed > mammals.speed.median()])/mammals.shape[0]) *100

6.5420560747663545